<% if (movies && movies.length > 0) { %>
	<% movies.forEach(movie => { %>
		<div class="movie-card">
			<img onclick="window.location.href='/series/<%= movie.id %>'" src="<%= movie.poster_url || 'https://via.placeholder.com/500x750?text=No+Image' %>" alt="<%= movie.title %>">
			<div class="overlay">
				<div class="info">
					<h4><%= movie.title %></h4>
					<p>
						<%= movie.type === 'MOVIE' ? 'Movie' : 'TV Show' %> |
						<%= movie.release_date ? new Date(movie.release_date).getFullYear() : 'N/A' %>
					</p>
				</div>
				<% if (typeof card_type !== 'undefined' && card_type === 'watchlist') { %>
					<button class="remove-button" onclick="removeFromWatchlist('<%= movie.id %>')" title="Remove from Watchlist">
						<ion-icon name="trash-outline"></ion-icon>
					</button>
				<% } %>
				<% if (typeof card_type !== 'undefined' && card_type === 'watching') { %>
					<div class="progress-bar">
						<div class="progress" style="width: <%= movie.progress_percent || 0 %>%">
							<span><%= movie.progress_percent || 0 %>%</span>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	<% }) %>
<% } else { %>
	<p>No media found.</p>
<% } %>
